html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #579BB1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.main {
    height: 500px;
    width: 400px; 
    border-radius: 5%;
    background-color: #E1D7C6;
    display: flex;
    flex: 0 0 1;
}

.face {
    flex: auto;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.display {
    flex: 1 0 80%;
    height: 20%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #34422d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}

.unit-box {
    flex: 1 0 0;
    height: 90%;
    background-color: #34422d;
    display: flex;
    align-items: center;
}

.button {
    margin: 10px;
    background-color: grey;
    flex: 1 0 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}